This exercise will require you to pull some data from the Qunadl API. Qaundl is currently the most widely used aggregator of financial market data.

As a first step, you will need to register a free account on the http://www.quandl.com website.

After you register, you will be provided with a unique API key, that you should store:

In [1]:
# Store the API key as a string - according to PEP8, constants are always named in all upper case
API_KEY = 'AzviAB2XWJL8x6XvZC1B'

Qaundl has a large number of data sources, but, unfortunately, most of them require a Premium subscription. Still, there are also a good number of free datasets.

For this mini project, we will focus on equities data from the Frankfurt Stock Exhange (FSE), which is available for free. We'll try and analyze the stock prices of a company called Carl Zeiss Meditec, which manufactures tools for eye examinations, as well as medical lasers for laser eye surgery: https://www.zeiss.com/meditec/int/home.html. The company is listed under the stock ticker AFX_X.

You can find the detailed Quandl API instructions here: https://docs.quandl.com/docs/time-series

While there is a dedicated Python package for connecting to the Quandl API, we would prefer that you use the *requests* package, which can be easily downloaded using *pip* or *conda*. You can find the documentation for the package here: http://docs.python-requests.org/en/master/

Finally, apart from the *requests* package, you are encouraged to not use any third party Python packages, such as *pandas*, and instead focus on what's available in the Python Standard Library (the *collections* module might come in handy: https://pymotw.com/3/collections/ ).
Also, since you won't have access to DataFrames, you are encouraged to us Python's native data structures - preferably dictionaries, though some questions can also be answered using lists.
You can read more on these data structures here: https://docs.python.org/3/tutorial/datastructures.html

Keep in mind that the JSON responses you will be getting from the API map almost one-to-one to Python's dictionaries. Unfortunately, they can be very nested, so make sure you read up on indexing dictionaries in the documentation provided above.

In [2]:
# First, import the relevant modules
import os
import requests
import quandl
import collections
import json

In [3]:
# Now, call the Quandl API and pull out a small sample of the data (only one day) to get a glimpse
# into the JSON structure that will be returned
data = quandl.get("FSE/AFX_X")
data

,Open,High,Low,Close,Change,Traded Volume,Turnover,Last Price of the Day,Daily Traded Units,Daily Turnover
Date,,,,,,,,,,
2000-06-07,NaN,NaN,NaN,38.00,NaN,0.0,NaN,None,None,0.0
2000-06-08,NaN,NaN,NaN,38.00,NaN,0.0,NaN,None,None,0.0
2000-06-09,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-12,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-13,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-14,NaN,NaN,NaN,45.00,NaN,0.0,NaN,None,None,0.0
2000-06-15,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-16,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-19,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-20,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-21,NaN,NaN,NaN,39.64,NaN,0.0,NaN,None,None,0.0
2000-06-22,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-23,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-26,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-27,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-28,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-29,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-06-30,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-07-03,NaN,NaN,NaN,39.51,NaN,0.0,NaN,None,None,0.0
2000-07-04,NaN,NaN,NaN,39.65,NaN,0.0,NaN,None,None,0.0
2000-07-05,NaN,NaN,NaN,40.50,NaN,0.0,NaN,None,None,0.0
2000-07-06,NaN,NaN,NaN,40.50,NaN,0.0,NaN,None,None,0.0
2000-07-07,NaN,NaN,NaN,39.00,NaN,0.0,NaN,None,None,0.0
2000-07-10,NaN,NaN,NaN,39.00,NaN,0.0,NaN,None,None,0.0
2000-07-11,NaN,NaN,NaN,39.00,NaN,0.0,NaN,None,None,0.0
2000-07-12,NaN,NaN,NaN,37.08,NaN,0.0,NaN,None,None,0.0
2000-07-13,NaN,NaN,NaN,37.08,NaN,0.0,NaN,None,None,0.0
2000-07-14,NaN,NaN,NaN,39.14,NaN,0.0,NaN,None,None,0.0
2000-07-17,NaN,NaN,NaN,40.00,NaN,0.0,NaN,None,None,0.0
2000-07-18,NaN,NaN,NaN,40.00,NaN,0.0,NaN,None,None,0.0
...,...,...,...,...,...,...,...,...,...,...
2020-04-17,93.40,94.05,91.85,92.90,NaN,185554.0,17165035.10,None,None,NaN
2020-04-20,94.00,94.65,91.90,94.15,NaN,124634.0,11640880.35,None,None,NaN
2020-04-21,93.40,93.95,91.50,91.50,NaN,115152.0,10603440.30,None,None,NaN
2020-04-22,92.75,94.65,91.60,94.65,NaN,126830.0,11898048.50,None,None,NaN
2020-04-23,94.75,95.50,92.70,94.80,NaN,123862.0,11684265.45,None,None,NaN
2020-04-24,94.40,94.60,92.35,93.10,NaN,111240.0,10358166.75,None,None,NaN
2020-04-27,95.05,95.35,92.10,92.10,NaN,109266.0,10128133.70,None,None,NaN
2020-04-28,92.00,92.20,89.15,89.65,NaN,163949.0,14804941.85,None,None,NaN
2020-04-29,90.00,91.00,87.85,90.95,NaN,143888.0,12901979.90,None,None,NaN
2020-04-30,91.60,92.10,89.90,89.95,NaN,137448.0,12454130.55,None,None,NaN
2020-05-04,87.65,88.10,85.95,87.65,NaN,168947.0,14745103.15,None,None,NaN
2020-05-05,88.90,92.60,88.25,92.60,NaN,131163.0,12019019.15,None,None,NaN
2020-05-06,92.80,94.70,91.45,93.95,NaN,129479.0,12095616.85,None,None,NaN
2020-05-07,94.55,97.25,94.25,96.00,NaN,210096.0,20200879.55,None,None,NaN
2020-05-08,96.35,97.35,95.15,95.30,NaN,134071.0,12869764.45,None,None,NaN
2020-05-11,97.00,97.70,90.75,91.80,NaN,202683.0,18762257.75,None,None,NaN
2020-05-12,91.55,91.55,86.00,86.00,NaN,332344.0,29093515.50,None,None,NaN
2020-05-13,85.50,87.90,83.80,85.75,NaN,229089.0,19608050.05,None,None,NaN
2020-05-14,84.70,85.30,81.15,81.35,NaN,227178.0,18722697.45,None,None,NaN
2020-05-15,82.25,84.85,80.65,83.80,NaN,219726.0,18211281.90,None,None,NaN
2020-05-18,85.45,89.95,84.90,89.65,NaN,202085.0,17790850.80,None,None,NaN
2020-05-19,90.45,92.80,89.80,92.50,NaN,215504.0,19826326.10,None,None,NaN
2020-05-20,92.50,93.30,91.30,91.80,NaN,169820.0,15657134.85,None,None,NaN
2020-05-21,90.95,90.95,87.80,87.90,NaN,103051.0,9147975.45,None,None,NaN
2020-05-22,87.35,88.50,85.45,87.65,NaN,170878.0,14839809.55,None,None,NaN
2020-05-25,88.60,92.70,88.10,92.60,NaN,101335.0,9240143.65,None,None,NaN
2020-05-26,91.10,93.35,89.70,90.85,NaN,295589.0,27089139.05,None,None,NaN
2020-05-27,91.00,91.20,86.40,87.30,NaN,292506.0,25754496.60,None,None,NaN
2020-05-28,88.10,91.70,87.40,91.45,NaN,228651.0,14809122.80,None,None,NaN
2020-05-29,91.05,93.10,90.25,92.10,NaN,238162.0,21887648.10,None,None,NaN

In [4]:
# Inspect the JSON structure of the object you created, and take note of how nested it is,
# as well as the overall structure

These are your tasks for this mini project:

1. Collect data from the Franfurt Stock Exchange, for the ticker AFX_X, for the whole year 2017 (keep in mind that the date format is YYYY-MM-DD).
2. Convert the returned JSON object into a Python dictionary.
3. Calculate what the highest and lowest opening prices were for the stock in this period.
4. What was the largest change in any one day (based on High and Low price)?
5. What was the largest change between any two days (based on Closing Price)?
6. What was the average daily trading volume during this year?
7. (Optional) What was the median trading volume during this year. (Note: you may need to implement your own function for calculating the median.)

2:

In [5]:
data_dict = data.T.to_dict()
#print(data_dict)

3:

In [6]:
info = []
for key in data_dict.keys():
    if key.year == 2017:
        info.append([data_dict[key]['Open'],data_dict[key]['Close'],data_dict[key]['High'],data_dict[key]['Low'],data_dict[key]['Traded Volume']])
print('Highest opening price: $'+str(max(info)[0]))
print('Lowest opening price: $'+str(min(info)[0]))

Highest opening price: $53.11
Lowest opening price: $34.0

4:

In [7]:
changes1 = []
for entry in info:
    changes1.append(entry[2]-entry[3])
print('Largest change in any one day based on High and Low price: $'+str(round(max(changes1),2)))

Largest change in any one day based on High and Low price: $2.81

5:

In [8]:
changes2 = []
for i in range(1,len(info)):
    changes2.append(info[i][1]-info[i-1][1])
print('Largest change in any one day based on Closing Price: $'+str(round(max(changes2),2)))

Largest change in any one day based on Closing Price: $1.72

6:

In [9]:
total_vol = 0
for entry in info:
    total_vol += entry[4]
avg_vol = total_vol/len(info)

print('Average daily trading volume: '+str(round(avg_vol,4)))

Average daily trading volume: 89124.3373